*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

/* Navbar section */

nav {
    padding: 1.5em;
    background-color: #363f96;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links > a {
    padding: 0 1.5em;
    text-decoration: none;
    color: white;
    margin-right: 1em;
    align-items: center;
}

.nav-links > a:hover {
    transform: scale(115%);
    transition: transform 0.3s;
}

.nav-title {
    letter-spacing: 0.7em;
}

.cart-count {
    position: absolute;
    top: 1em;
    right: 2.4em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1.3em;
    height: 1.3em;
    background-color: #ca6a1c;
    color: #ffffff;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

/* Home section */

.home {
    text-align: center;
}

.cart-image {
    padding: 2em
}

img {
    width: 20%;
}

.home-header > h1 {
    padding: 1em;
    font-size: 3em;
    letter-spacing: 1em;
}

.home-header > h3 {
    padding: 4em;
}

.home-content {
    display: flex;
    justify-content: space-evenly;
}

.home-content > div {
    width: 35%;
    padding: 1em;
}

.shop-button-container {
    padding: 5em;
}

.shop-button-container button {
    background-color: rgb(42, 133, 19);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    padding: 0.8em;
    font-size: 14px;
}

.shop-button-container button:hover {
    cursor: pointer;
    transform: scale(115%);
    transition: transform 0.3s;
}

.shop-button-container button:active {
    background-color: rgb(25, 77, 12);
    transition-duration: 0.3s;
}

/* Products section */

.loading {
    text-align: center;
    padding: 5em;
}

.products-container h2 {
    padding: 1em;
    text-align: center;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.product {
    border: 2px solid black;
    border-radius: 9px;
    text-align: center;
    padding: 1em;
}

.product img {
    max-width:50%;
    height: 50%;
}

.product h3 {
    font-size: 1.5em;
    padding: 1em;
}

.product h5 {
    font-size: 1.4em;
    padding: 0.5em;
}

.product p {
    font-size: 0.9em;
    padding: 0.5em;
}

.product button {
    background-color: rgb(41, 165, 214);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    padding: 0.8em;
    font-size: 14px;
}

.product button:hover {
    color: black;
    cursor: pointer;
    transform: scale(105%);
    transition: transform 0.3s;
}

.product button:active {
    background-color: rgb(29, 128, 167);
    transition-duration: 0.3s;
}

/* Cart section */

.cart-container {
    padding: 1em;
}

.cart-container h2 {
    text-align: center;
    padding: 1em;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.cart-item {
    text-align: center;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 9px;
}

.cart-item img {
    max-width: 50%;
    height: auto;
}

.quantity-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.quantity-button-container p {
    font-weight: bold;
}

.plus-button, .minus-button {
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 0.8em;
}

.plus-button {
    background-color: rgb(42, 133, 19);
}

.plus-button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: transform 0.2s;
}

.plus-button:active {
    background-color: rgb(25, 77, 12);
}

.minus-button {
    background-color: rgb(128, 128, 128);
}

.minus-button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: transform 0.2s;
}

.minus-button:active {
    background-color: rgb(85, 85, 85);
}

.remove-button {
    background-color: #a33232;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 0.6em;
}

.remove-button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: transform 0.2s;
}

.remove-button:active {
    background-color: #6d2222;
}

.cart-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-total div {
    padding: 1em;
}

.cart-total p {
    font-size: 20px;
    font-weight: bold;
}

.confirm-button {
    background-color: #1eadc0;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 1em;
}

.confirm-button:hover {
    cursor: pointer;
    transform: scale(115%);
    transition: transform 0.2s;
}

.confirm-button:active {
    background-color: #13707c;
}

.empty-cart {
    text-align: center;
    padding: 3em 0;
}

/* for medium screens */

@media screen and (max-width: 1130px) {
    .products-grid {
        grid-template-columns: repeat(2, 40vw);
    }    
}

/* for small screens */

@media screen and (max-width: 600px) {
    .products-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}