*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

/* Navbar section */

nav {
    display: flex;
    justify-content: flex-end;
    padding: 1.5em;
    background-color: #783186;
    top: 0;
    width: 100%;
}

nav > a {
    padding: 0 1.5em;
    text-decoration: none;
    color: white;
    margin-right: 1em;
    align-items: center;
}

nav > a:hover {
    transform: scale(115%);
    transition: transform 0.3s;
}

.cart-count {
    position: absolute;
    top: 1em;
    right: 2.4em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1.3em;
    height: 1.3em;
    background-color: #ca6a1c;
    color: #ffffff;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

/* Home section */

.home {
    text-align: center;
}

.home-header > h1 {
    padding: 1em;
    font-size: 3em;
    letter-spacing: 1em;
}

.home-header > h3 {
    padding: 4em;
}

.home-content {
    display: flex;
    justify-content: space-evenly;
}

.home-content > div {
    width: 30%;
}

.shop-button-container {
    padding: 5em;
}

.shop-button-container button {
    background-color: rgb(42, 133, 19);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    padding: 0.8em;
    font-size: 14px;
}

.shop-button-container button:hover {
    cursor: pointer;
    transform: scale(115%);
    transition: transform 0.3s;
}

.shop-button-container button:active {
    background-color: rgb(25, 77, 12);
    transition-duration: 0.3s;
}

/* Products section */

.products-container h2 {
    padding: 1em;
    text-align: center;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.product {
    border: 2px solid black;
    border-radius: 9px;
    text-align: center;
    padding: 1em;
}

.product img {
    max-width: auto;
    height: 25vh;
}

.product h3 {
    font-size: 1.5em;
    padding: 1em;
}

.product h5 {
    font-size: 1.4em;
    padding: 0.5em;
}

.product p {
    font-size: 0.9em;
    padding: 0.5em;
}

.product button {
    background-color: rgb(41, 165, 214);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    padding: 0.8em;
    font-size: 14px;
}

.product button:hover {
    color: black;
    cursor: pointer;
    transform: scale(105%);
    transition: transform 0.3s;
}

.product button:active {
    background-color: rgb(29, 128, 167);
    transition-duration: 0.3s;
}

/* Cart section */

.cart-container {
    padding: 1em;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.cart-item {
    text-align: center;
    padding: 1em;
    border: 1px solid black;
}

.cart-item img {
    max-width: auto;
    height: 20vh;
}

.quantity-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quantity-button-container button {
    padding: 0.7em;
}